body {
    font-family: 'Times New Roman', serif;
    background-color: #4587ca;
    color: #080a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://cdn.gencraft.com/prod/user/5145e7bd-73b8-4fc7-a79d-f9613d9f6900/300d0915-508c-4df7-91fe-25c2a786d4a9/image/image0_0.jpg?Expires=1729483066&Signature=SAjPGC44z5g4WZ1NlvQViUwwGBVbr34bqHT7EPdpWwetRgIrwuawfnXEsnbIi57VQ2q6C0kCyc~oAIVVHVsdDa3pJ8SAqp94MP0~mmaJFehEuA6Kv4~gtmKX-Asdf6f-Kv2qUEF2Pa~zxUo7tFjyqazd4PYwLchbABjst5F9WMnmZBUZSd6G5zfZ6sTsryGP~ZuHr-~BJb8i9TgRd8g8q0lpCQY1mwU5xwkIgq0dS9cCLONhtCUdyVycHoJVlLP9GXdlQWs5XDe30wAYWmN2kWG-CZ7bUP-~BpVYzGxcUMQ0lgDC2dLctul6x4JWIr1apN-j4tXh4G47FIeTtNnfBw__&Key-Pair-Id=K3RDDB1TZ8BHT8);
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.863);
}

.crystal-ball {
    width: 300px;
    height: 300px;
    background: radial-gradient(circle at 50% 50%, #b2ebf2, #4dd0e1);
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(77, 208, 225, 0.8);
    animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.3);
    }
    50% {
        box-shadow: 0 0 50px 15px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.3);
    }
}


.weather-result {
    font-size: 1.2em;
    max-width: 80%;
}

.input-section {
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 1em;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #8e44ad;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9b59b6;
}